<div class="row">
    <div class="col-md-6">
        <div class="col-md-8 col-md-offset-2">
            <img src="img/about.jpg" class="img-circle img-responsive" id="about-image"></img>
        </div>
    </div>
    <div class="col-md-6" id="about">
        <h2>My name is Dilma Rousseff</h2>
        <p>
            A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de até criar um ministério. 
            É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que acontece na área agrícola.
        </p>
        <p>
            A população ela precisa da Zona Franca de Manaus, porque na Zona franca de Manaus, não é uma zona de exportação, 
            é uma zona para o Brasil. Portanto ela tem um objetivo, ela evita o desmatamento, que é altamente lucravito. 
            Derrubar arvores da natureza é muito lucrativo!
        </p>
        <p>
            Primeiro eu queria cumprimentar os internautas. -Oi Internautas! 
            Depois dizer que o meio ambiente é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. 
            E isso significa que é uma ameaça pro futuro do nosso planeta e dos nossos países. 
            O desemprego beira 20%, ou seja, 1 em cada 4 portugueses.
        </p>
        <p>
            Se hoje é o dia das crianças... Ontem eu disse: o dia da criança é o dia da mãe, 
            dos pais, das professoras, mas também é o dia dos animais, sempre que você olha uma criança, 
            há sempre uma figura oculta, que é um cachorro atrás. O que é algo muito importante!
        </p>

    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-3">
            <a href="https://twitter.com" class="btn btn-info btn-block">
                <i class="fa fa-twitter fa-5x"></i>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="https://facebook.com" class="btn btn-primary btn-block">
                <i class="fa fa-facebook fa-5x"></i>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="https://youtube.com" class="btn btn-danger btn-block">
                <i class="fa fa-youtube fa-5x"></i>
            </a>
        </div>
    </div>
</div>